*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    text-align: right;
    padding: 20px 30px 0 0;
}

.menu > a{
    color: #642a73;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}

.menu > a:hover{
    color: #642af4;
    text-decoration: underline;
}

header .Titulo{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: top;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ccc;
}

.Titulo h1{
    font-size: 100px;
}

.Titulo h2{
    font-size: 50px;
    font-weight: 600;
}

.Wave{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 400px
}

header{
    width: 100%;
    height: 600px;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(65, 96, 251, 0.397), rgba(252, 69, 106, 0.377)), url(../SOURCE/banner.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(65, 96, 251, 0.397), rgba(252, 69, 106, 0.377)), url(../SOURCE/banner.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}